.weather-app{
 display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: 0px 0px 10px #ccc;
 padding: 30px;
 background-image: url('https://img.freepik.com/free-photo/cloud-blue-sky_1122-624.jpg?t=st=1736098862~exp=1736102462~hmac=dd12ec4ff1d9ef400c8131f5ea118c6b27b354a2ec10fc8d4a12c7460dff63df&w=740');
 border-radius: 10px;
 
}
.weather-card p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
  font-weight:500;
}
.weather-app h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 255, 0.863);
  font-weight: bold;
}
.weather-app input{
  border: none;
  border: 1px solid rgba(0, 0, 255, 0.253);
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
.weather-app button{
  border: none;
  padding: 5px;
  border: 1px solid rgba(0, 0, 255, 0.329);
  border-radius: 10px;
  color: rgba(8, 8, 168, 0.89);
}