.navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ffcc00;
  }
  header{
    background-color: green;
  }
 
 
  button{
    width: 30px;
    height: 30px;
    border: none;
    border: 2px solid greenyellow !important;
  }